body{
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #ffd587;
  display: flex;
  flex-direction: column;
  background: #fff0d3;
}

.imagen-fondo{
  background: url('../img/fondo_small.jpg');
}

.encabezado{
  max-width: 940px;
  margin: 0 auto;
}

.texto-titulo{
  font-size: 6rem;
  font-weight: 500;
  text-shadow: 2px 4px 20px #ffc254;
}

.subtitulo{
  margin: 1rem 0.6rem;
  font-size: 2rem;
  text-shadow: 0.5px 0.5px 5px #ffc254;
}

.container{
  max-width: 940px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.box{
  width: 80%;
  height: 30vh; 
  resize: none;
  background: #ffd587;
  border-radius: 1rem;
  color: #090D4F;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 2rem;
}

.box:focus{
  border: 1px solid #FFF;
  box-shadow: 4px 4px 10px #ffc254;
}

.box::placeholder{
  font-weight: lighter;
  color: #001f47;
}

.entrada{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}


.salida{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.botones{
  width: 40%;
  height: 8vh;
  margin: 1.5rem;
  font: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: #001f47;
  background: #ffd587;
}

.botones:hover{
  transform: scale(1.1);
  border: 2px solid #FFF;
  transition: 0.3s; 
}

.botones-entrada{
  display: flex;
  justify-content: center;
  width: 100%;
}

.pie-pagina{
  background: linear-gradient(#000f26, #ffd587, #ffd587, #fff0d3);
  padding: 2.5vh 0;
  width: 100%;
}

.texto-footer{
  padding: 3vh 0;
  text-align: center;
  color: #001f47;
}

/* MEDIA QUERIES */
/* TABLET        */

@media screen and (max-width: 800px){

   .container{
     margin: 1rem auto;
     justify-content: space-around;
   }

   .encabezado{
     margin: 1rem 0 0 1rem;
   }
   .texto-titulo{
     font-size: 4.5rem;
   }

   .subtitulo{
     font-size: 1.5rem;
   }

   .box{
     font-size: 0.8rem;
     padding: 1rem;
     margin: 0 
   } 

   .botones{
     font-size: 0.8rem;
     margin: 1rem;
   }

   .texto-footer{
     font-size: 0.6rem;
   }

/* MEDIA QUERIES */
/* Cell phone    */

@media screen and (max-width: 480px){

   .texto-titulo{
     font-size: 3.5rem;
   }

   .subtitulo{
     font-size: 1rem;
   }
   .container{
     flex-direction: column;
     margin: 1rem auto;
     justify-content: space-around;
   }
   
   .entrada,
   .salida{
     width: 100%;
   }
}

