body{
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  background: url('../img/fondo_small.jpg');
  /*background-size: contain;*/
  color: #ffd587;
}

.encabezado{
  max-width: 940px;
  margin: 0 auto;
}

.texto-titulo{
  font-size: 6rem;
  font-weight: 500;
  text-shadow: 2px 4px 20px #ffc254;
}

.subtitulo{
  margin: 1rem 0.6rem;
  font-size: 2rem;
  text-shadow: 0.5px 0.5px 5px #ffc254;
}

.container{
  max-width: 940px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.box{
  width: 80%;margin-top
  height: 50vh; 
  resize: none;
  background: #ffd587;
  border-radius: 1rem;
  color: #090D4F;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 2rem;
}

.box:focus{
  border: 1px solid #FFF;
  box-shadow: 4px 4px 10px #ffc254;
}

.box::placeholder{
  font-weight: lighter;
  color: #001f47;
}

.entrada{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}


.salida{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.botones{
  width: 30%;
  height: 6vh;
  margin: 1rem;
  font: inherit;
  font-weight: 600;
  border-radius: 1rem;
  color: #001f47;
  background: #ffd587;
}

.botones:hover{
  transform: scale(1.1);
  border: 2px solid #FFF;
  transition: 0.3s; 
}

.botones-entrada{
  display: flex;
  justify-content: center;
  width: 100%;
}

.pie-pagina{
  background: linear-gradient(#000f26, #ffd587, #ffd587, #fff0d3);
  padding: 2.5vh 0;
  position: absolute;
  bottom: 0 !important;
  width: 100%;
}

.texto-footer{
  padding: 3vh 0;
  text-align: center;
  color: #001f47;
}


